.top {
  margin-top: 150px;
}

.login-form .user {
  position: relative;
}

/* .login-form .password-input {
  position: relative;
} */

.icon-span {
  position: absolute;
  top: 28px;
  left: 306px;
  /* z-index: 9999; */
}

.login-form .user input {
  width: 350px;
  height: 60px;
  border: 1px solid #adb5bd;
  border-radius: 5px;
  margin-top: 10px;
}

.login-form .user label {
  line-height: 16px;
  font-weight: 600;
  font-size: 14px;
  color: #333333;
  letter-spacing: -0.5px;
  position: absolute;
  display: inline-block;
  margin-bottom: 20px;
  top: 32px;
  left: 13px;
  pointer-events: none;
  transition: 0.6s ease;
}

.login-form .user input:focus ~ label,
.login-form .user input:valid ~ label {
  top: 16px;
  font-size: 12px;
}

/* .login-form .password-input input:focus ~ label {
  top: 16px;
  font-size: 12px;
} */

/* .form-input:focus ~ label,
.form-input:valid ~ label {
  top: -20px;
} */

/* .login-form input::placeholder {
  line-height: 16px;
  font-weight: 600;
  font-size: 14px;
  color: #333333;
  letter-spacing: -0.5px;
} */

.login *:focus {
  outline: none;
}

.login-button {
  width: 327px;
  height: 58px;
  padding: 21px 160px;
  border-radius: 4px;
  color: #fff;
}
