.table-container {
  display: block;
  position: relative;
  padding-left: 32px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.table-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.table-checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 16px;
  width: 16px;
  background-color: #ffffff;
  border-radius: 4px;
  border: 1px solid #c0c0cf;
}

/* When the checkbox is checked, add a blue background */
.table-container input:checked ~ .table-checkmark {
  background-color: #8003cd;
}

/* Create the checkmark/indicator (hidden when not checked) */
.table-checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.table-container input:checked ~ .table-checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.table-container .table-checkmark:after {
  left: 4px;
  top: 2px;
  width: 6px;
  height: 7.5px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
