/* ALL ACTIVITIES */
[data-column-id="description"].rdt_TableCol {
  padding-left: 32px;
}
[data-column-id="amount"].rdt_TableCol {
  max-width: 110px;
  margin-left: 105px;
}
[data-column-id="date"].rdt_TableCol {
  max-width: 110px;
  margin-left: 85px;
}
[data-column-id="status"].rdt_TableCol {
  margin-left: 30px;
}
/* LOAN DISBURSED */
[data-column-id="disbursed__amount"].rdt_TableCol {
  max-width: 110px;
  margin-left: 0px;
}
[data-column-id="cs"].rdt_TableCol {
  max-width: 110px;
  margin-left: 42px;
}
[data-column-id="disbursed__date"].rdt_TableCol {
  margin-left: 8px;
}

