[data-column-id="description"].rdt_TableCol {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #8a8b9f;
  letter-spacing: -0.5px;
  padding: 0px;
  padding-left: 32px;
}
[data-column-id="amount"].rdt_TableCol {
  max-width: 110px;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #8a8b9f;
  letter-spacing: -0.5px;
  padding: 0px;
  margin-left: 105px;
}

[data-column-id="date"].rdt_TableCol {
  max-width: 110px;

  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #8a8b9f;
  letter-spacing: -0.5px;
  padding: 0px;
  margin-left: 85px;
}
[data-column-id="status"].rdt_TableCol {
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #8a8b9f;
  letter-spacing: -0.5px;
  padding: 0px;
  margin-left: 30px;
}

/* LOAN DISBURSED */
[data-column-id="disbursed__amount"].rdt_TableCol {
  max-width: 110px;

  margin-left: 0px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #8a8b9f;
  letter-spacing: -0.5px;
}
[data-column-id="cs"].rdt_TableCol {
  max-width: 110px;

  margin-left: 42px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #8a8b9f;
  letter-spacing: -0.5px;
}
[data-column-id="disbursed__date"].rdt_TableCol {
  /* max-width: 110px; */

  margin-left: 8px;
  font-family: "Manrope";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #8a8b9f;
  letter-spacing: -0.5px;
}

.rdt_TableRow:last-child {
  border-radius: 0px 0px 8px 8px;
}
